<div class="row">
    <div class="col-md-3 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h2>Crear Cuenta</h2>
            </div>
            <div class="card-body">
                <form action="/create/newuser" method="POST">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form3Example1"  class="form-control" name="name" placeholder="Nombre" value="{{name}}"/>

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form3Example2" class="form-control" name="lastname" placeholder="Apellido" value="{{lastname}}" />
    
                            </div>
                        </div>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="number" id="form3Example3" class="form-control" name="dni" placeholder="Documento" value="{{dni}}"/>
 
                    </div>
                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control" name="email" placeholder="Email" value="{{email}}"/>

                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="form3Example4" class="form-control" name="password"  placeholder="Password" />
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form3Example1"  class="form-control" placeholder="Roles" disabled/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <select id="role" name="role" class="form-control">
                                    <option value="alumno">Alumno</option>
                                    <option value="profesor">Profesor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Registrase</button>


                </form>
            </div>
        </div>
    </div>
</div>